# Ham or Spam?

üéØ The goal of this challenge is to classify emails as spams (1) or normal emails (0)

üßπ First, you will apply cleaning techniques to these textual data

üë©üèª‚Äçüî¨ Then, you will convert the cleaned texts into a numerical representation

‚úâÔ∏è Eventually, you will apply the ***Multinomial Naive Bayes*** model to classify each email as either a spam or a regular email.

## (0) The NTLK library (Natural Language Toolkit)

In [1]:
!pip install nltk

Requirement already satisfied: nltk in /Users/sarthaksingh/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (3.7)
Requirement already satisfied: joblib in /Users/sarthaksingh/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from nltk) (1.1.1)
Requirement already satisfied: click in /Users/sarthaksingh/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from nltk) (8.1.3)
Requirement already satisfied: tqdm in /Users/sarthaksingh/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from nltk) (4.64.1)
Requirement already satisfied: regex>=2021.8.3 in /Users/sarthaksingh/.pyenv/versions/3.10.6/envs/lewagon/lib/python3.10/site-packages (from nltk) (2022.9.13)

[notice] A new release of pip available: 22.3.1 -> 23.1.2
[notice] To update, run: python3.10 -m pip install --upgrade pip

In [2]:
# When importing nltk for the first time, we need to also download a few built-in libraries

import nltk

nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/sarthaksingh/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to
[nltk_data]     /Users/sarthaksingh/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/sarthaksingh/nltk_data...
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     /Users/sarthaksingh/nltk_data...

True

In [3]:
import pandas as pd

df = pd.read_csv("https://wagon-public-datasets.s3.amazonaws.com/05-Machine-Learning/10-Natural-Language-Processing/ham_spam_emails.csv")
df.head()

                                                text  spam
0  Subject: naturally irresistible your corporate...     1
1  Subject: the stock trading gunslinger  fanny i...     1
2  Subject: unbelievable new homes made easy  im ...     1
3  Subject: 4 color printing special  request add...     1
4  Subject: do not have money , get software cds ...     1

## (1) Cleaning the (text) dataset

The dataset is made up of emails that are classified as ham [0] or spam[1]. You need to clean the dataset before training a prediction model.

### (1.1) Remove Punctuation

‚ùì Create a function to remove the punctuation. Apply it to the `text` column and add the output to a new column in the dataframe called `clean_text` ‚ùì

In [4]:
# YOUR CODE HERE
import string

def remove_punctuation(text):
    for punctuation in string.punctuation: 
        text = text.replace(punctuation, ' ') 
    return text

df['clean_text'] = df.text.apply(remove_punctuation)

df.head()

,text,spam,clean_text
0,Subject: naturally irresistible your corporate...,1,Subject naturally irresistible your corporate...
1,Subject: the stock trading gunslinger fanny i...,1,Subject the stock trading gunslinger fanny i...
2,Subject: unbelievable new homes made easy im ...,1,Subject unbelievable new homes made easy im ...
3,Subject: 4 color printing special request add...,1,Subject 4 color printing special request add...
4,"Subject: do not have money , get software cds ...",1,Subject do not have money get software cds ...

### (1.2) Lower Case

‚ùì Create a function to lowercase the text. Apply it to `clean_text` ‚ùì

In [7]:
# YOUR CODE HERE
def lowercase (text): 
    lowercased = text.lower() 
    return lowercased

df['clean_text'] = df.text.apply(remove_punctuation)

df.head()

,text,spam,clean_text
0,Subject: naturally irresistible your corporate...,1,Subject naturally irresistible your corporate...
1,Subject: the stock trading gunslinger fanny i...,1,Subject the stock trading gunslinger fanny i...
2,Subject: unbelievable new homes made easy im ...,1,Subject unbelievable new homes made easy im ...
3,Subject: 4 color printing special request add...,1,Subject 4 color printing special request add...
4,"Subject: do not have money , get software cds ...",1,Subject do not have money get software cds ...

### (1.3) Remove Numbers

‚ùì Create a function to remove numbers from the text. Apply it to `clean_text` ‚ùì

In [8]:
# YOUR CODE HERE
def remove_numbers (text):
    words_only = ''.join([i for i in text if not i.isdigit()])
    return words_only

df['clean_text'] = df.clean_text.apply(remove_numbers)

df.head()

,text,spam,clean_text
0,Subject: naturally irresistible your corporate...,1,Subject naturally irresistible your corporate...
1,Subject: the stock trading gunslinger fanny i...,1,Subject the stock trading gunslinger fanny i...
2,Subject: unbelievable new homes made easy im ...,1,Subject unbelievable new homes made easy im ...
3,Subject: 4 color printing special request add...,1,Subject color printing special request addi...
4,"Subject: do not have money , get software cds ...",1,Subject do not have money get software cds ...

### (1.4) Remove StopWords

‚ùì Create a function to remove stopwords from the text. Apply it to `clean_text`. ‚ùì

In [9]:
# YOUR CODE HERE
from nltk.corpus import stopwords 
from nltk import word_tokenize

stop_words = set(stopwords.words('english')) 

# Create function
def remove_stopwords (text):
    tokenized = word_tokenize(text)
    without_stopwords = [word for word in tokenized if not word in stop_words]
    return without_stopwords

df['clean_text'] = df.clean_text.apply(remove_stopwords)

df.head()

,text,spam,clean_text
0,Subject: naturally irresistible your corporate...,1,"[Subject, naturally, irresistible, corporate, ..."
1,Subject: the stock trading gunslinger fanny i...,1,"[Subject, stock, trading, gunslinger, fanny, m..."
2,Subject: unbelievable new homes made easy im ...,1,"[Subject, unbelievable, new, homes, made, easy..."
3,Subject: 4 color printing special request add...,1,"[Subject, color, printing, special, request, a..."
4,"Subject: do not have money , get software cds ...",1,"[Subject, money, get, software, cds, software,..."

### (1.5) Lemmatize

‚ùì Create a function to lemmatize the text. Make sure the output is a single string, not a list of words. Apply it to `clean_text`. ‚ùì

In [10]:
# YOUR CODE HERE
from nltk.stem import WordNetLemmatizer

def lemma(text):
    lemmatizer = WordNetLemmatizer() # Instantiate lemmatizer
    lemmatized = [lemmatizer.lemmatize(word) for word in text] # Lemmatize
    lemmatized_string = " ".join(lemmatized)
    return lemmatized_string

df['clean_text'] = df.clean_text.apply(lemma)

df.head()

,text,spam,clean_text
0,Subject: naturally irresistible your corporate...,1,Subject naturally irresistible corporate ident...
1,Subject: the stock trading gunslinger fanny i...,1,Subject stock trading gunslinger fanny merrill...
2,Subject: unbelievable new homes made easy im ...,1,Subject unbelievable new home made easy im wan...
3,Subject: 4 color printing special request add...,1,Subject color printing special request additio...
4,"Subject: do not have money , get software cds ...",1,Subject money get software cd software compati...

## (2) Bag-of-words Modelling

### (2.1) Digitizing the textual data into numbers

‚ùì Vectorize the `clean_text` to a Bag-of-Words representation with a default CountVectorizer. Save as `X_bow`. ‚ùì

In [11]:
# YOUR CODE HERE
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()

X_bow = vectorizer.fit_transform(df.clean_text)

### (2.2) Multinomial Naive Bayes Modelling

‚ùì Cross-validate a MultinomialNB model with the bag-of-words data. Score the model's accuracy. ‚ùì

In [12]:
# YOUR CODE HERE
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import cross_validate

cv_nb = cross_validate( MultinomialNB(), X_bow, df.spam, scoring = "accuracy")

cv_nb['test_score'].mean()

0.9895252901681946

üèÅ Congratulations !

üíæ Don't forget to git add/commit/push your notebook...

üöÄ ... and move on to the next challenge !